{{define "header"}}
<link rel="stylesheet" href="/static/styles/legal.css">
{{end}}

{{define "content"}}
<h1>Urheberrechtshinweise (Credits)</h1>
<p>Für unseren Webshop verwenden wir folgende lizenzierte Medien:</p>

<table>
    <tr><th>Medienart</th><th>Datei/Name</th><th>Urheber</th><th>Quelle</th><th>Lizenz</th></tr>
    <tr><td>Bild</td><td>pexels-clarissa-schwarz-19857086.jpg</td><td>Clarissa Schwarz</td><td>pexels.com</td><td>Pexels Lizenz</td></tr>
    <tr><td>Bild</td><td>pexels-valentyna-ivanova-1444038-30851820.jpg</td><td>Valentyna Ivanova</td><td>pexels.com</td><td>Pexels Lizenz</td></tr>
    <tr><td>Bild</td><td>pexels-quang-nguyen-vinh-222549-2132171.jpg</td><td>Quang Nguyen Vinh</td><td>pexels.com</td><td>Pexels Lizenz</td></tr>
    <tr><td>Bild</td><td>pexels-martin-wischeropp-746841803-25650362.jpg</td><td>Martin Wischeropp</td><td>pexels.com</td><td>Pexels Lizenz</td></tr>
    <tr><td>Schriftart</td><td>Lato</td><td>Google Fonts</td><td>fonts.google.com</td><td>SIL Open Font License</td></tr>
    <tr><td>Schriftart</td><td>Roboto</td><td>Google Fonts</td><td>fonts.google.com</td><td>SIL Open Font License</td></tr>
</table>
<br>
<p>Alle sonstigen Medien sind Eigenproduktion und gehören dem Unternehmen Valentin Stölner EU (kein Mock).</p>
{{end}}