<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Gartenpflege Stölner Software</title>
    <link rel="icon" type="image/png" href="/static/img/Favicon.png" alt="Hauptlogo Gartenpflege Stölner">

    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script defer src="/static/js/dropdown.js"></script>
    <script defer src="/static/js/navbar_scroll.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/layout.css">

    {{block "header" . }}{{end}}
</head>
<body>
    <div class="layout">
        <header class='navbar'>
            <div class="left">
                <a href="/">       
                    <img src="/static/img/Logo1.png" alt="Hautlogo Gartenpflege Stölner">
                </a>
            </div>

            <div class="right">
                <div class="links">
                    <div class="nav-wrapper link">
                        <div class="nav-button-wrapper">
                            <a href="/">Home</a>
                        </div>
                    </div>

                    <div class="nav-wrapper link">
                        <div class="nav-button-wrapper">
                            <a href="/shop">Shop</a>
                        </div>
                    </div>

                    <div class="nav-wrapper">
                        <div class="nav-button-wrapper">
                            <a href="/about"><p>About Us</p></a>
                        </div>
                    </div>

                    <div class="nav-wrapper link">
                        <div class="nav-button-wrapper">
                            <a href="/kontakt">Kontakt</a>
                        </div>
                    </div>

                    <div id="dropdown">
                        <div class="nav-wrapper">
                            <div class="nav-button-wrapper">
                                <a href="/"><p>Home</p></a>
                            </div>
                        </div>
    
                        <div class="nav-wrapper">
                            <div class="nav-button-wrapper">
                                <a href="/shop"><p>Shop</p></a>
                            </div>
                        </div>

                        <div class="nav-wrapper">
                            <div class="nav-button-wrapper">
                                <a href="/about"><p>About Us</p></a>
                            </div>
                        </div>
    
                        <div class="nav-wrapper">
                            <div class="nav-button-wrapper">
                                <a href="/kontakt">
                                    <p>Kontakt</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Content section -->
        <main class="content">
            {{block "content" .}}{{end}}
        </main>

        <!-- Footer section -->
        <footer class="footer">
            <div class="left">
                <img src="/static/img/Logo2.png" alt="Main Logo" />
            </div>

            <div class="mid">
                <h3>LEGAL</h3>
                <a href="/legal/impressum">Impressum</a>
                <a href="/legal/license">Lizenz</a>
                <a href="/legal/privacy">Privacy</a>
                <a href="/legal/accessibility">Accessibility</a>
                <a href="/legal/copyright">Copyright</a>
            </div>

            <div class="right">
                <h3>LINKS</h3>
                <a href="/">Home</a>
                <a href='/shop'>Shop</a>
                <a href="/kontakt">Kontakt</a>
                <a href="/about">About</a>
                <a href="mailto:v.stoelner@gmx.at ">Support</a>
            </div>
        </footer>
    </div>
</body>
</html>
