{{define "header"}}
    <link rel="stylesheet" href="/static/styles/services.css">
{{end}}

{{define "content"}}
    <div>
        <h1>Unser Angebot</h1>
    </div>
    <div class="service-wrapper">
        <section>
            <div class="left">
                <img src="/static/img/besichtigung.jpeg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Besichtigung</h3>
                <p>Wir kommen gerne jederzeit vorbei und schauen uns alles unverbindlich an.</p>
                <p>Falls Sie fragen haben, einfach schreiben oder anrufen.</p>
                <a href="/kontakt">
                    <button>
                        Kontakt >>
                    </button>
                </a>
            </div>
        </section>

        <section>
            <div class="left">
                <img src="/static/img/svc_baumschnitt.jpeg" alt="loading ...">
            </div>
            <div class="right">
                <h3>Abtragungen & Baumschnitte</h3>
                <p>Abtragungen, Rodungen, Baumschnitte und Holzschlägerung</p>
            </div>
        </section>
    
        <section>
            <div class="left">
                <img src="/static/img/valentin_heckenschnitt.jpg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Heckenschnitte</h3>
                <p>Hecken jeder Art</p>
            </div>
        </section>
    
        <section>
            <div class="left">
                <img src="/static/img/garten.jpg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Gartenpflege & Durchforstung</h3>
                <p>Damit Ordnung im Garten oder Wald herrscht</p>
            </div>
        </section>
    
        <section>
            <div class="left">
                <img src="/static/img/valentin_motorsense.jpg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Wiesenschnitte</h3>
                <p>Rasenmähen und Motorsensenarbeit</p>
            </div>
        </section>
    </div>
    
{{end}}