{{define "header"}}
    <link rel="stylesheet" href="/static/styles/services.css">
{{end}}

{{define "content"}}
    <div>
        <h1>Unser Angebot</h1>
        <hr>
    </div>
    <div class="service-wrapper">
        <section>
            <div class="left">
                <img src="/static/img/besichtigung.jpeg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Besichtigung</h3>
                <p>Auf Wunsch kommen wir gerne jederzeit vorbei und schauen uns den Auftrag unverbindlich an.</p>
                <p>Bei Fragen erreichen Sie uns jederzeit online oder telefonisch.</p>  
                <a href="/kontakt">
                    <button>
                        Kontakt >>
                    </button>
                </a>
            </div>
        </section>

        <section>
            <div class="left">
                <img src="/static/img/svc_baumschnitt.jpeg" alt="loading ...">
            </div>
            <div class="right">
                <h3>Abtragungen & Baumschnitte</h3>
                <p>Von einfacher Baumfällung über sturmgefährdete Problembäume bishin zu alterschwachen Bäumen die eine Gefahr darstellen. Auch bieten wir 
                    Kronenauflichtung, Rückschnitt und Obstbaumschnitt an für die optimale Erhaltung, Pflege und Ertrag Ihrer Bäume.</p>
            </div>
        </section>
    
        <section>
            <div class="left">
                <img src="/static/img/valentin_heckenschnitt.jpg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Heckenschnitte</h3>
                <p>Entfernung alter Hecken mit oder ohne Wurzel, Erhaltung durch einen radiakalen Rückschnitt, Form- oder Pflegeschnitt.</p>
            </div>
        </section>
    
        <section>
            <div class="left">
                <img src="/static/img/garten.jpg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Gartenpflege</h3>
                <p>Wir bereiten den Garten vor auf den Winter oder Frühjahr, durch Laubentfernung, Rasenmähren, Fusionierungsschnitte und weitere Arbeiten.</p>
            </div>
        </section>
    
        <section>
            <div class="left">
                <img src="/static/img/valentin_motorsense.jpg" alt="Hier kommt noch ein Bild hin">
            </div>
            <div class="right">
                <h3>Wiesenschnitte</h3>
                <p>Großere Motorsensenarbeiten von Wiesen, Böschungen, usw. </p>
            </div>
        </section>
    </div>
    
{{end}}