.kontakt-wrapper {
    height: 750px;
    width: 100%;

    background-color: var(--background-color);

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    gap: 150px;

    img {
        flex: 1;
        height: 640px;
        object-fit: cover;
    }

    .kontakt {
        min-height: 500px;
    
        display: flex;
        justify-content: flex-start; /* Align items horizontally to start from the left */
        align-items: center; /* Align items vertically to start from the top */

        border: 1px solid var(--accent2-color);
        border-radius: 16px;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    
        .contact-data-wrapper {
            height: 500px;
            padding: 50px;
            border: 1px solid var(--accent2-color);
            border-radius: 16px;
            background-color: var(--highlight-color);    
            box-sizing: border-box;

            .contact-data {    
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start; /* Align content to the top */
                
                width: 100%;
                height: 100%;

                h1 {
                    color: var(--main-color);
                    margin-bottom: 20px;
                }
                
                p {
                    color: var(--main-color);    
                    padding-left: 15px;
                    margin: 10px;
                }
            }
        }
    
        .contact-form {
            max-width: 500px;
            padding: 50px 70px 50px 70px;
            align-self: start;
    
            h3 {
                color: var(--main-color);
                margin: 0px;
                align-self: start;
            }
        
            form {
                min-width: 400px;
                display: flex;
                flex-direction: column;
                gap: 20px;
    
                button {
                    align-self: flex-end;
    
                    border: none;
                    background-color: var(--highlight-color);
                    border-radius: 6px;
        
                    width: 150px;
                    height: 50px;
    
                    color: var(--main-color);
    
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
                    }
                }       
            }
        }
    }
}
@media (max-width: 1000px) {
    .kontakt-wrapper  {
        height: auto;
        padding: 45px;
        box-sizing: border-box;
        flex-direction: column;

        .kontakt {
            flex-direction: column;
            width: 100%;

            .contact-data-wrapper {
                height: auto;
                width: 100%;
            }

            .contact-form {
                min-height: 400px;
            }
        }
    }
}
@media (max-width: 700px) {
    .kontakt-wrapper  {
        padding: 0px;
        overflow: hidden;
        box-sizing: border-box;
        

        .kontakt {
            flex-direction: column;
            width: 100%;
            border-radius: 0px;
            border: none;

            .contact-data-wrapper {
                height: auto;
                width: 100%;
                border-radius: 0px;
            }

            .contact-form {
                padding: 45px 35px;
                min-height: 400px;

                form {
                    min-width: 80vw;
                }
            }
        }
    }
}

.success {
    padding: 60px;
}
